html,body{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: rgb(51, 47, 47);
}

.pimg1{
  background-image: url(image1.jpg);
  min-height: 100%;
}

.pimg2{
  background-image: url(image2.avif);
  min-height: 400px;
}
.pimg3{
  background-image: url(image3.avif);
  min-height: 400px;
}
.pimg4{
  background-image: url(image4.jpg);
  min-height: 400px;
}


.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
  
  .pimg1,
  .pimg2, 
  .pimg3,
  .pimg4  {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.textBg{
  background-color: rgb(106, 105, 105);
  color:white ;
  padding: 20px;
}

.section{
  padding: 50px 80px;
  text-align: center;

}
.section-light{
  background-color: white;
  color: rgb(87, 87, 87);
}

.section-dark{
  background-color: rgb(39, 39, 39);
  color: white;
}

.loginform{
  width: 130px;
  height: 50px;
  background: transparent;
  border:none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 28px;
  color: white;
  font-weight: 500;
}

.loginform:hover{
  background-color: none;
  color: rgb(58, 57, 57);
}